body {
  background-color: #FFFFFF;
  color: #000000;
}
.menu {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.btn-box-r1 {
  height: 100%;
}
.btn-box-r2 {
  height: 50%;
}
.btn-box-r3 {
  height: 33%;
}
.btn-box-r4 {
  height: 25%;
}
.btn-label-box {
  align-items: center;
  display: flex;
}

.maintext p{
  font-size:78px;
  line-height:88px;
  font-weight:400;
  color:#292929;
}
