.btn-label-box-r4 {
  height: 204.25px;
  align-items: center;
  display: flex;
}
.btn-label-box-r3 {
  height: 293.17px;
  align-items: center;
  display: flex;
}
.btn-label-box-r2 {
  height: 471px;
  align-items: center;
  display: flex;
}
.btn-label-box-r1 {
  height: 1004.5px;
  align-items: center;
  display: flex;
}
.btn-label {
  font-size: 72px;
}
.row {
  margin-bottom: 0px;
}
