{% extends "base.html" %}

{% block title %}
menu
{% end %}

{% block style_block %}
  <link type="text/css" rel="stylesheet" href="{{ static_url('css/show_menu.css') }}"/>
{% end %}

{% block content %}
  <div id='app'>

    <div class='row'>
      <div class="col m6 waves-effect waves-light" v-for="btn in btns">
        <div class='card light-blue darken-1'>
          <div v-on:click="selectButton($index)" class="light-blue darken-1">
            <div class='card-content'>
              <div class='btn-label-box-r2'>
                <h2 class="truncate left-align white-text btn-label">${ btn.label }</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% end %}

{% block footer %}
{% end %}

{% block tail_script %}
  <script type='text/javascript' src="{{ static_url('js/input.js') }}"></script>
{% end %}
