<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>tablet</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ static_url('tablet.css') }}" type="text/css"/>
</head>
<body>

  <h3><span id="message"></span><span id="dialog_id"></span></h3>

  <iframe src="" id="iframe">
    <p>Application Error</p>
  </iframe>

  <script src="//code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="{{ static_url('tablet.js') }}" type="text/javascript"></script>
</body>
</html>
