<!DOCTYPE html >
<html lang='ja'>

<head>

  <title>tablet frame</title>
  <meta charset='utf-8'>

  <link rel="shortcut icon" href="{{ static_url('image/favicon.ico') }}" />

  <link type="text/css" rel="stylesheet" href="{{ static_url('css/tablet_frame.css') }}" />

</head>

<body>

  <!--<h3><span id="message"></span></h3>-->

  <iframe src="" id="iframe" class="default" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" seamless>
    <p>Application Error</p>
  </iframe>

  <script type='text/javascript' src='https://code.jquery.com/jquery-2.2.1.min.js'></script>
  <script type='text/javascript' src="{{ static_url('js/socket.js') }}"></script>

</body>

</html>
